img {
    display: block;
    width: 100%;
}

.card {
    margin: 0 auto;
    width: 50%;
    position: relative;
    /*thing center in the screen*/

}

.card__text {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    position: absolute;
    bottom: 0;
}



.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: 6px;
    background-color: #f33;
    color: #fff;
    text-decoration: none;
    font-size: 3em;

    /*
    transition: which-property duration timing-function;

    timing-function can be: linear, ease-in, ease-put, ease-in-out */


    transition:
        background-color 1000ms linear;
        border-radius: 2000ms linear
        ;

    /*
    You can use 'alt' instead of a property to make the transition happen for any properties that change
     */

    transition: all 250ms linear;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #000;
    border-radius: 25px;
}