.btn,
.btn:link,
.btn:visit {
    display: inline-block;
    adding: 0.5em 0.75 em;
    border-radius: 6px;
    background-color: #f33;
    color: #fff;
    text-decoration: none;
    font-size: 3em;

}

.bnt:hover,
.bnt:focus,
.bnt:active {
    background-color: #000;
}